{% url 'home' as home %}
{% url 'products:featured_products' as featured_url %}
{% url 'products:list_products' as product_list %}
{% url 'accounts:logout' as logout %}
{% url 'cart:cart' as cart %}


<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ home }}">{% if brand_name %} {{ brand_name }} {% else %}ourCommerce {% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home %} active {% endif %}">
              <a class="nav-link" href="{{ home }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == product_list %} active {% endif %}">
                <a class="nav-link" href="{{ product_list }}">All Products</a>
            </li>
            <li class="nav-item {% if request.path == featured_url %} active {% endif %}">
              <a class="nav-link" href="{{ featured_url }}">Featured Products</a>
            </li>
            <li class="nav-item {% if request.path == cart %} active {% endif %}">
              <a class="nav-link" href="{{ cart }}"><span class="navbar-cart-count">{{ request.session.cart_items }}</span> <i class="fas fa-shopping-cart"></i></a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Purchase History</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ logout }}">Logout</a>
                </div>
                </li>
                {% else %}
                <a class="nav-link" href="{% url 'accounts:login' %}" role="link"  aria-haspopup="false">
                        Log In
                    </a>

            {% endif %}
          </ul>
          {% include 'search/snippets/search-form.html' %}
        </div>
      </nav>
      </div>
